[2019-06-20 15:25] MattConflitti opened #2 "Use with Keras"
Can the the ConditionalRNN layer be used with Keras' functional API?

[code]

Getting this error:
[code]

[2019-06-21 16:14] MattConflitti commented on #2
Ended up implementing in tensorflow following the examples.

[2019-06-21 16:14] #2 closed

[2019-07-08 08:06] BiggerHao opened #3 "Why not merge conditions in only one vector?"
This is an inspiring project. Thanks.

I am relatively new to neural network. I do not see why you use separate dense layers for different conditions. It seems to me that merging condition vectors into one vector and feed the vector into a dense layer can achieve the same result.

Take predicting air quality for example. If we have two features that are not time series, say city and number of vehi

[2019-07-10 08:08] philipperemy commented on #3
@BiggerHao yeah that's a good point!

You are totally correct here.

[2019-07-10 08:10] philipperemy commented on #3
The only thing that would differ is the bias.

[2019-07-10 08:54] haocheng6 commented on #3
@philipperemy I get it. Thank you.

[2019-07-10 08:54] #3 closed

[2019-08-01 14:53] fhabermacher commented on #2
Did you/anyone ever solve the question, whether ConditionalRNN can work with Keras Functional API?
@MattConflitti you seem to have ended up following a different route; was this because it is not possible to use it; did you ever get to the ground of the error message you got? [Maybe btw it is relevant that in my case, plus [here](https://github.com/tensorflow/probability/issues/478) in a case not

[2019-12-03 12:17] cath0n opened #4 "AttributeError: module 'tensorflow' has no attribute 'layers'"
Hi!

I'm trying to use cond_rnn in my project and faced an AttributeError when intialize ConditionalRNN:

outputs = ConditionalRNN(units=NUM_CELLS, cell='LSTM', cond=cond_list, activation='relu')(inputs)

Here's an error code
WARNING:tensorflow:From C:\Users\nosova.ea\AppData\Roaming\Python\Python36\site-packages\tensorflow_core\python\ops\resource_variable_ops.py:1630: calling BaseResourceVariabl

[2019-12-08 05:17] philipperemy commented on #4
@cath0n can you provide a small snippet to reproduce the error? Also which version of tensorflow are you using?

[2019-12-08 05:19] philipperemy commented on #4
But my guess would be that it would work with tensorflow 1.14 or tensorflow 1.15 and that you're using tensorflow 2.0.

[2019-12-11 11:31] cath0n commented on #4
@philipperemy Yes I'm using tf 2.0. Would you mind if I'll rewrite your code for that version and commit it in your repositoty?

[2019-12-12 00:28] philipperemy commented on #4
@cath0n yes please go ahead! That'd be great :)

[2020-01-08 10:07] larsupb opened #5 "Implementation as Keras Layer"
Hi,
thank you very much for sharing this code. Im wondering if one could implement the Conditional RNN as a true keras layer (inherited from tf.keras.layers.Layer) so it could be used in a keras model.

This would help peoples which are not familar with tensorflow low level api.

Lars

[2020-01-23 10:34] philipperemy commented on #4
@cath0n could you make any progress here?

[2020-01-24 11:04] philipperemy commented on #5
https://github.com/philipperemy/cond_rnn/commit/be1e97fa74ee06ef44e6dec1de8eb662b63004b9

Hey! Thanks for the feedback! Done in the latest master. Also `cond-rnn>=2.0` has it implemented.

[2020-01-24 11:04] #5 closed

[2020-01-24 11:05] philipperemy commented on #4
https://github.com/philipperemy/cond_rnn/commit/be1e97fa74ee06ef44e6dec1de8eb662b63004b9 done

[2020-01-24 11:05] #4 closed

[2020-02-07 06:57] shivam13juna commented on #3
Hold on @BiggerHao , City is one-hot encoded right, that's a completely different method of representing data, and appending number of vehicles (which is an again a different way of representing numbers) will make the model's work of understanding data pattern extra hard.

Further, if we expect model to learn these differences then why bother merging non-sequential data with sequential, LSTM can a

[2020-02-14 07:29] haocheng6 commented on #3
@shivam13juna I think using both continuous and one-hot categorical features simultaneously in one neural layer is a common practice which is not harder than using those two types features in two seperate layers and then merging the two layers.

However, I am still not an expert of deep learning, so my view may be biased.

[2020-02-14 07:34] shivam13juna commented on #3
@BiggerHao you said it's a common practice, any popular tensorflow or pytorch blog where you've seen that? i'm sorry i've never seen merging commonly done, but i've mostly worked in NLP domain, so it maybe be possible.

Please let me know if you seen those cases in any popular (can be trusted) brand. Thank you!

[2020-02-14 08:14] haocheng6 commented on #3
@shivam13juna I think I was wrong. :cry: Seems that it would be better to embed categorical features into a continuous space. (See [How to combine categorical and continuous input features for neural network training](https://datascience.stackexchange.com/questions/29634/how-to-combine-categorical-and-continuous-input-features-for-neural-network-trai).)

[This tutorial from Tensorflow](https://www

[2020-02-20 14:38] malinthasa opened #6 "Problem with one example found in Stackoverflow"
Hi,

Thank you very much for writing the library.

I was looking using non-sequential input to my LSTM and found this code snippet from [STOF](https://stackoverflow.com/questions/57324671/combine-time-series-with-time-invariant-data-in-rnn-lstm-using-keras-functional).

[code]

I just tried to run it but got an error

`TypeError: ('Keyword argument not understood:', 'cond')`

According to the API

[2020-02-20 15:09] malinthasa commented on #6
I tried

`x = ConditionalRNN(units=7, cell='LSTM')([x, inputs_aux])`

and ended up with `AttributeError: 'tuple' object has no attribute 'layer'` error

[2020-03-12 10:23] rolandsz opened #7 "kwargs for tf.keras.layers.RNN"
Hi,

I've just started to use cond_rnn and I'm trying to replace LSTM layers in my model with ConditionalRNN.

The README says that one should be able to use keywords like return_sequences.

However, since be1e97fa74ee06ef44e6dec1de8eb662b63004b9 ConditionalRNN derives from tf.keras.layers.Layer which prohibits the usage of these kwargs, as only the following kwargs are allowed for tf.keras.layers

[2020-03-13 13:13] philipperemy commented on #7
Hey @rolandsz thanks for reporting. I fixed it in https://github.com/philipperemy/cond_rnn/commit/4a1e95a6b53f599d1e6928c2fb33e0bcc27e9926.

[code]

[2020-03-13 13:14] #7 closed

[2020-03-13 13:17] philipperemy commented on #6
Update the `cond-rnn` lib and use this code:

[code]

[2020-03-13 13:17] #6 closed

[2020-03-13 13:19] malinthasa commented on #6
Thank you

[2020-03-13 13:21] philipperemy commented on #6
@malinthasa welcome :)

[2020-06-17 09:40] hstarmans opened #8 "example real data"
Thanks for sharing your code. Could you provide an example on real data, with real I mean data from life measurements e.g. https://www.kaggle.com/sudalairajkumar/daily-temperature-of-major-cities .
The example so far proofs you have working code, not that the model is superior.
I can't pass all possible regularizers to the model, I think you could pass them at line 38 and 44 in your [code](https:/

[2020-07-06 18:48] philipperemy commented on #8
That's a good point. I'll try to provide an example with *real data* soon.

[2020-08-17 13:32] pepper-jk commented on #5
So in theory one should be able to do something like this:
[code]
Correct?

But I get an error when I do that.
[code]
I don't get why `__call__` is even called when initializing the layer and adding it to the model.

I also don't get how I add the input_shape to a `ConditinalRNN` Layer.

Without conditions I used:
[code]

I assumed I could do something like this:
[code]
or this:
[code]
or based on

[2020-08-18 01:45] philipperemy commented on #5
@pepper-jk yes in theory you should be able to use Sequential on them but the layer takes two arguments as parameters. In sequential each layer has only one input. This implementation is a bit more on the TF side rather than on the Keras side. I don't have much time at the moment to do the change but if you feel like you can do, just go for it!

[2020-08-21 12:21] oneiroid opened #9 "Non-issue: fix exception message"
https://github.com/philipperemy/cond_rnn/blob/c555fd9d93929cf6b187c68a24c4ba28e278b3be/cond_rnn/cond_rnn.py#L56

As titled, non-issue, but still I spent couple of minutes trying to figure out what "\nor" means. Is it negating OR? )))
Either remove carriage return or put initial_cond_shape inside the exception message string manually.
In your case repr of tuple ("msg", initial_cond_shape) is being

[2020-08-24 12:35] philipperemy commented on #9
I've deleted the \n ;)

[2020-08-24 13:23] #9 closed

[2020-10-27 00:56] Zekai-Wang opened #10 "Use regularization method in cond_rnn"
Thank you so much for your work, very excellent library. I'm trying to use this library in my project, but I encounter a problem: I'd like to use regularizer method such as 'kernel_regularizer' in ConditionalRNN layer, but I found it can't support regularizer method in ConditionalRNN. I check the tensorflow document, it seems that "tf.keras.layers.rnn" doesn't have "kernel_regularizer" argument, s

[2020-11-18 10:00] ninamwa commented on #5
Hi. Is there done any more work regarding this? I would also like to use the ConditionalRNN layer as a part of my Keras Sequential model :-)

[2020-11-18 11:12] pepper-jk commented on #5
During my thesis I did not have the time, I just used the layer as suggested by the examples.
And afterwards I totally forgot about it, sorry.

But I also am not sure how one could implement this, as the number of parameters is different.
Maybe there is a misc parameter that could be used for the conditional input?
Or should the inputs just be wrapped in a tuple and unpacked internally? Would that

[2020-12-05 22:40] ykocoglu opened #11 "Using cond_rnn with different type of static data"
Hi philiperemy,

I could not figure out how to contact you so, I created this issue.

Thank you for sharing this code.

Before looking into the details I wanted to know if this would be suitable for my problem.

I noticed that you have conditions (one-hot encoded vectors) such as: [0 0 1] or [1 0 0], etc. Referring to the blog you originally built this code for, I understand that these condition v

[2020-12-29 21:55] reyhanhgh opened #12 "shape of the input tensor when using conditional RNN"
Thanks for sharing this interesting project. I have been trying to understand how to shape the input tensor using conditional RNN in Keras but I am still very unclear about how to present the input data in the correct shape.

I am working on 10 stations (`num_stations=10`). For each station, I have one-year (`timesteps = 365`) records of three continuous variables: A and B are predictive variables

[2021-01-03 10:51] philipperemy commented on #12
@reyhanhgh I have added an example for your case: https://github.com/philipperemy/cond_rnn/blob/master/examples/dummy_stations_example.py.

Let me know if it solves your problem.

[2021-01-03 10:57] philipperemy commented on #11
@ykocoglu Sorry for the late reply.  Conditions need not be a one-hot encoded vector. I made an example here that might be useful for you: https://github.com/philipperemy/cond_rnn/blob/master/examples/dummy_stations_example.py. Let me know how your paper writing goes :)

[2021-01-03 11:36] orko19 opened #15 "How to generate input data with proper shapes"
I have a list of 564 time series. Each time series is 1d vector of different sizes (e.g. 366, 558, 812, ...).
I also have a respective dataframe of 564X3 that holds the condition (categorical features).
My batch size is 4 and timestamps is 10.
What is the best way to transform these data to the proper data to use conditional RNN?
(3-D Tensor with shape [batch_size, timesteps, input_dim] from serie

[2021-01-03 17:42] philipperemy commented on #8
@hstarmans I posted an example here: https://github.com/philipperemy/cond_rnn/blob/master/examples/temp.py.
It uses the Kaggle data. Note that the model is quite simple but it can do slightly better in practice. It would be interesting to build better models and see if we can decrease the loss even more. Let me know if you have more questions!

[2021-01-03 17:42] #8 closed

[2021-01-03 17:43] philipperemy commented on #15
@hstarmans I posted an example here: https://github.com/philipperemy/cond_rnn/blob/master/examples/temp.py.
Let me know if it solves your problem. Each time series has a different size in the dataset.

[2021-01-03 18:54] philipperemy commented on #10
@Zekai-Wang sorry for the wait. I pushed a new version that can handle all that: https://github.com/philipperemy/cond_rnn/commit/5db67929e7bcb1901bcbb20567be9c1848671689.
[code]

[2021-01-03 18:54] #10 closed

[2021-01-04 10:45] orenpapers commented on #15
@philipperemy Thanks, I see that the shape of x is `(200000, 100, 1)`.
Can you please explain what does these numbers represent?

[2021-01-04 13:51] philipperemy commented on #15
[code]
First is the batch dim, second is the time dim, and last is the input dim.

Refer to this documentation: https://keras.io/api/layers/recurrent_layers/simple_rnn/

[2021-01-04 14:16] orenpapers commented on #15
@philipperemy Thanks, by batch dim you mean number of samples in every batch?

[2021-01-04 19:36] philipperemy commented on #15
Yeah, correct. The dimension that you can parallelize on.

[2021-01-05 08:11] orenpapers commented on #15
@philipperemy Is it chosen arbitrary? I mean, could u just set it to 100000 or is it dictated by other hyper-parameters / dimensions?

[2021-01-05 08:49] reyhanhgh commented on #12
@philipperemy  Hi Philippe and thank you very much for the very complete example that you provided. It is far more clear now. Just a little question: I just came across some stations with NA values. So, if I want to use the full-record period for these stations, the length of time series will not be the same. For instance, I have one station with 200 days of data (in my data time series are far lo

[2021-01-05 09:07] philipperemy commented on #15
Nope purely arbitrary.

[2021-01-05 09:08] philipperemy commented on #12
@reyhanhgh yeah, you can follow the example that I recently added. Or you can interpolate the missing values. Best is to backfill them. If you use pandas it's a one-liner (look for bfill).

[2021-01-05 09:19] reyhanhgh commented on #12
@philipperemy Thanks Philippe! I have a concern regarding imputing the missing data: if I use some sort of algorithms to fill the NA, then use DL to predict them, isn't it data leakage ??

[2021-01-05 13:59] philipperemy commented on #12
If you forward the previous values then no. I think that is called a forward fill. Use this is if you want to be rigorous and have no leakage ;)

[2021-01-05 14:59] ykocoglu commented on #11
Thank you so much Phillipe for the example. It will help a lot. I just have one question on the code itself. I looked into the conditional_rnn class and noticed that you are using a dense layer to reshape the conditional (non-temporal) input before assigning it as the initial state. Is this dense layer trained as well (weights updated) or will the input pass through it once? Also, this might be a

[2021-01-05 17:06] hstarmans commented on #8
Great!! I am still working on similar projects and will have a look at the example you provided..

[2021-01-05 17:12] reyhanhgh commented on #12
@philipperemy : Thank you very much Philippe ! I think I have to finally go with the approach you gave for time series of different sizes since the physics of the target variable (which includes all the NA) is tricky : the target is debit of bassins. So imagine between the NA days we have, for instance, flooding (target value close to the max of the target) and several days before and after (non-N

[2021-01-05 21:14] philipperemy commented on #11
Yes, this dense layer is trained. The dimension of this matrix depends on the conditions and the hidden_units. It does not depend on how many time series you feed (which is given by the batch size). If your condition has 4 values and you have 20 hidden units, then the matrix has a shape of 4x20. It's really mapping conditions > initial states.

[2021-01-06 02:57] ykocoglu commented on #11
Thank you for your answers again. It cleared majority of the confusion I had. One last question based on the answer provided: shouldn’t the conditions of each batch be used separately to create unique initial states for each batch (sample) in the case of stateless lstm? To be more clear: If I have 2 conditions [1,0,0,0] and [0,1,0,0] for 2 independent time series with dimension (2,10,1) (stateless

[2021-01-06 08:52] philipperemy commented on #11
No, if you have 10,000 time series with only 2 conditions then you will still have (2, num_units). Because each time series will fall into one of the two conditions. For example, if cond1=male, cond2=female, you have 10,000 time series modeling the blood pressure, then each time series can be conditioned on the gender of the individual. We want to initialize each time series based on this extra pa

[2021-01-07 01:33] ykocoglu commented on #11
I see. Thank you so much. In a way, this makes sense. The only thing that I still don’t quite understand is how does it figure out it’s male or female between batches (when it resets state) because you only have a single initial state (2,num_units) and both conditions are represented in the single init_state the way I understand it which it should reset it to the same init_state between bathes dur

[2021-01-07 09:19] ykocoglu commented on #11
Ok I think the answer to my confusion lies in your previous answer:”But each time series where cond1=male will be initialized in the same way. Then of course the state will change based on the time series itself when the LSTM unrolls across the time dimension...”. I think I don’t understand how the init_state changes between each time series depending on the condition given if it by default has si

[2021-01-07 11:28] philipperemy commented on #11
I'd say this is not correct. In a batch size of 50 time series, you have 50 initial states. If you change your batch size to 250, you will have 250 initial states. The network does not depend on the batch size. We have one initial state per time series and they N possible initial states where N is the size of your conditions (for example male/female N=2). In terms of shape your initial states are

[2021-01-08 01:34] ykocoglu commented on #11
Thank you so much Philipperemy. It makes a lot of sense now. So, from how I understand it: if batch_size = 1, even if I give all the inputs for 10K time series with 10K conditions, in the stateless case, it picks the 1st sample (time series and condition(s)) and sets initial hidden state from that sample's condition(s) and it does the same thing for the next samples while sharing the learned weigh

[2021-01-08 09:11] philipperemy commented on #11
Yes, it's correct.

Great! My email is premy.enseirb@gmail.com. You can communicate with me with this email.

Thank you so much :)

[2021-01-18 13:45] hstarmans commented on #8
I have looked at your example & code:
 * code worked
 * i modified the way you read in data and reduced the code length with methods from pandas see [example branch](https://github.com/hstarmans/cond_rnn/blob/example/examples/temperature/temp.py) in my fork.
 * pip is out of date with your Github repo, so I would advise to git clone & install and not pip install
 * in setup.py, open('README.md').r

[2021-01-18 15:16] philipperemy commented on #8
@hstarmans that's awesome!
- We should probably merge your example to the main codebase.
- I'm going to update the code on PyPi that's a good point.
- 𝑣⃗ =𝐖𝑥⃗ +𝑏⃗ is probably the culprit.

Thanks! Let me know once you're done :)

[2021-01-19 01:39] philipperemy commented on #8
Pushed to PyPi: https://pypi.org/project/cond-rnn/2.3/

[2021-01-22 20:58] #15 closed

[2021-01-22 22:55] philipperemy commented on #12
I'll close this issue for now. Feel free to comment on how it goes.

[2021-01-22 22:56] #12 closed

[2021-01-23 00:28] #11 closed

[2021-01-25 16:28] hstarmans commented on #8
I have used an [ARIMAX](https://alkaline-ml.com/pmdarima/tips_and_tricks.html) model to predict the daily temperature in Amsterdam. As exogenous components, I used the five most correlating cities with a lag of one day.  These happen to be neighboring cities like Brussels, Paris and London.  I obtain a mean absolute error of 1.25 degrees with this model.
I tried to add seasonal components or a sma

[2021-01-26 00:32] philipperemy commented on #8
@hstarmans very cool!! Let me know how it goes :-)

[2021-01-26 18:32] GuitarML opened #18 "How to handle conditional LSTM with input conv1d layers?"
I would like to use a conditional LSTM for a guitar amplifier model, where the conditional part would be user controls such as gain/drive on an amplifier (reference https://github.com/GuitarML/GuitarLSTM repo). Would the cond_rnn layer work if my model has two conv1d layers prior to the conditional LSTM? For example:

[code]

Where "input_size" is something like 100, for an input shape of (100,1)

[2021-01-26 23:38] philipperemy commented on #18
@GuitarML A conditional LSTM takes the same input X as the LSTM. So if it works for an LSTM it will work for a conditional LSTM (in terms of shape). The conditional LSTM takes an extra input Y that has shape (batch_size, cond_size). For example, if you have 10 user controls, you can encode them as one-hot vectors. Continuous variables also work for conditioning. So long story short, the answer is

[2021-01-27 12:20] GuitarML commented on #18
@philipperemy thanks for the response! My concern was more about the first two conv1d layers in my model, if I used the conditional LSTM does it have to be the first layer? If not, how would I introduce the conditional variables, or would I need a functional model instead of a sequential model to accomplish that.

[2021-01-27 12:27] philipperemy commented on #18
You can use a functional model. Sequential will probably work too.

[2021-01-27 12:58] #18 closed

[2021-01-27 13:21] philipperemy commented on #18
I correct what I have just said. Yes use a functional model if CondLSTM is not the first layer of your model ;)

[2021-01-27 15:58] GuitarML commented on #18
Thanks for the clarification!

[2021-01-28 15:47] hstarmans commented on #8
Added cond_rnn, results are now as follows;
 ARMA model: Mean Absolute Error (MAE) of 1.47 degrees
 ARMAX model with 30 cities: MAE of 1.25 degrees
 Pure autoregressive LSTM model: MAE of 1.46 degrees
 Cond_rnn with 30 cities:  MAE 0.87 degrees

For pure autoregressive problems, LSTM networks do not provide an advantage. First results show, however, that they are much better at taking a large set

[2021-01-28 23:28] philipperemy commented on #8
@hstarmans awesome I will merge it to the main code base! Thanks for the results :)

[2021-01-29 00:40] philipperemy commented on #8
I added a PR here: https://github.com/philipperemy/cond_rnn/pull/19
From your repo.

[2021-02-12 08:21] mohit-awana opened #20 "Predicted time series for multiple users"
Hi Philippe,

I was going through this repository and found it very interesting. Great work ! :)

I am trying to predict sales for multiple stores . My goal is to make a single LSTM model to predict sales from these parallel time series having multiple features.

My input features for training would be:
+----------+-------+--------------+-------+
|   Date   | Store | DayOfTheWeek | Sales |
+------

[2021-02-12 08:47] philipperemy commented on #20
If you have two time-series A and B and you think B(t) depends on A(0),...,A(t-1), then you can feed (n_sample, n_timesteps, n_features*2) where n_features*2 contains a concatenation of [A(0),B(0)] up to [A(t-1),B(t-1)].
This does not depend on conditional LSTM. The purpose of conditional LSTM is to condition on something that does not change with time. For example, the store A will always be stor

[2021-02-12 10:12] mohit-awana commented on #20
Ok, Thanks for your quick input.

[2021-02-12 10:12] #20 closed

[2021-03-02 19:31] sh0gg0th opened #22 "Dummy stations example"
https://github.com/philipperemy/cond_rnn/blob/b35616f0ec6ed2df3b1929b0a4fae8d34ca0e4bf/examples/dummy_stations_example.py#L13
First of all, thanks a lot for your work! Sorry I'm having trouble understanding parts of the code. We say `C` is the target, but I don't see `C` getting any special treatment further down; in fact, it appears we're predicting all of `A`,`B` and `C` for each timestep, since

[2021-03-03 10:27] philipperemy commented on #22
@sh0gg0th good catch. The example was pretty big nonsense.
I updated it: https://github.com/philipperemy/cond_rnn/blob/master/examples/dummy_stations_example.py.
Let me know if it looks better.

[2021-03-03 17:21] ir0nt0ad commented on #22
@philipperemy Yes this one is much more clear, and thanks a lot for your quick turnaround!

[2021-03-04 02:29] philipperemy commented on #22
Welcome :)

[2021-03-04 02:29] #22 closed

[2021-03-16 19:13] ujohn33 opened #23 "Sequential vs Functional API. Drop in model accuracy"
Hi, I am doing research on time-series forecasting for electric load.  I am quite new to tensorflow, so please excuse me if make errors.
I came across your library and thought it was very interesting! I am building a 24-ahead MIMO forecasting model. I have noticed that pure LSTM may disregard features that I considered important, so I have experimented with this framework.
I have tried using condi

[2021-03-16 20:29] adaj commented on #23
I am also receiving this warning but ignoring it. One thing that I had in mind to test is to specify `input_shape`, but I am not sure how to specify that given the input structure of `ConditionalRNN`.

[2021-03-17 06:42] philipperemy commented on #23
Glad to see that CondRNN could give you a boost in accuracy!

First, regarding the message, I think this is fine. Conceptually, a Sequential model is not expected to receive multiple inputs. Even though Keras is complaining, it's still doing the job correctly.

[code]

I don't see any errors in your code. I checked, and both Sequential are Functional output the same code.

On the `dummy_stations_e

[2021-03-17 06:45] philipperemy commented on #23
@adaj yes from my experience, you can safely ignore this warning. Keras still does the job well.

[2021-03-18 10:11] Zatfer17 opened #24 "Question on conditions"
Hi,
I came across this repo through Stack Overflow and really liked the idea! I'm trying to use what you did in order to predict the goals of players in a football league but I'm a bit confused on how I should structure the inputs.

Let's suppose I'm just focusing on strikers, on a league of 20 teams, around 3 strikers per team. Doing a parallelism with your example the stations would be the strik

[2021-03-21 04:20] philipperemy commented on #24
Hey,

A LSTM takes as input a normal tensor of shape (batch_size, timesteps, input_dim). CondRNN also takes this same tensor as input but it also takes another tensor, or list of tensors: the conditions (that I explain below). The conditions DO NOT depend on the time dimension.

You have 60 players. That means 60 time series, each one containing N time steps. That gives you a matrix of shape (60,

[2021-03-21 08:31] Zatfer17 commented on #24
Hi,
thank you so much!
I'll immediately try,
Matteo

[2021-03-21 09:11] philipperemy commented on #24
Great, let me know!

[2021-03-29 16:31] adaj commented on #24
@philipperemy Thank you for the great package and good tips. I'm wondering how that would fit NLP tasks.

Consider for example a text classification task in which the previous class/labels might help to predict the next. For text features, assume word embeddings. Since you mentioned that conditions should not depend on time, we would have the previous labels as the inputs and the embeddings of the

[2021-03-30 01:27] philipperemy commented on #24
@adaj yeah it's correct and it should work if you have an NLP dataset where the label t depends on the information from 0 up to time t. An example is a sentiment dataset where the sentiment of the sentence can evolve at any time:

I like this movie. I think it's a great one. But, after seeing the end, I was incredibly disappointed.
------------- Positive -----------------| -----------------------N

[2021-03-30 04:17] #24 closed

[2021-04-14 13:59] hoba87 opened #25 "Bidirectional LSTM"
I would like to use your ConditionalRNN code with a bidirectional LSTM layer, e.g. like here [https://keras.io/examples/nlp/bidirectional_lstm_imdb/](https://keras.io/examples/nlp/bidirectional_lstm_imdb/).
Is this possible?

[2021-04-21 03:11] philipperemy commented on #25
@hoba87 I'd say it's not currently possible but you can try to make it work. That would be really cool if you could make a PR :)

[2021-04-28 01:04] #23 closed

[2021-05-11 01:59] zhouzhongmi opened #26 "Failed to load model with CondRNN layer"
I have built a net that contains a CondRNN layer and save the compiled model using `model.save('./cond_rnn_lstm.h5')`. But when I load the saved model from file `./cond_rnn_lstm.h5` like this `tensorflow.keras.models.load_model('./cond_rnn_lstm.h5')`, I encountered an error `ValueError: Unknown layer: ConditionalRNN`. Does anyone ever encounter this error, and how can I load the model with a CondR

[2021-05-12 02:10] zhouzhongmi commented on #26
I have used another way to construct the model network. And the problem fixed. I will close this issue.

[code]

[2021-05-12 02:10] #26 closed

[2021-07-28 02:04] AtrCheema commented on #25
@hoba87 did you find a way to do it?

[2021-09-26 07:27] peterukk commented on #25
Did anyone try this?

[2021-09-26 12:19] pepper-jk commented on #25
I was able to use condRNNs with LSTMs and GRUs for my bachelor thesis about a year ago.
So this works at least.

Not sure what the difference between a normal LSTM and a bidirectional LSTM is. So your mileage may vary.

But honestly I would just try it. That is what I did back then. :D

[2021-09-27 16:15] peterukk commented on #25
Thanks. I didn't have any luck with using this package for bidirectional RNNs - probably possible with some tinkering - but turns out it was [fairly easy to write manual code that I believe does the same job as cond_rnn.](https://stackoverflow.com/questions/59402595/can-i-train-the-initial-hidden-state-of-a-rnn-to-represent-the-initial-condition) I'll share my code in case someone finds it useful:

[2021-11-19 09:56] saadsaifse commented on #18
@GuitarML have you tried this? got any sample code? I am having trouble specifying the inputs

[2021-11-19 10:30] saadsaifse commented on #18
Ok, the following did work

[code]

[2022-01-12 08:47] philipperemy commented on #25
@peterukk thanks for sharing!

[2022-01-24 07:52] philipperemy commented on #25
For information, I solved the problem in ConditionalRNN 3.0. Make sure to update to the latest version:

[code]

It was fixed in https://github.com/philipperemy/cond_rnn/commit/5e468aed4364236c7195c5ca37c93be9301a9aba.

I provide an example on how to use `Bidirectional` with this module here: https://github.com/philipperemy/cond_rnn/blob/master/examples/bidirect.py

[2022-01-24 07:52] #25 closed

[2022-03-04 22:13] chengyineng38 opened #29 "Question on processing time-series text data"
Thanks for the example implementation and making this into a library! Very helpful!

I am writing to see if you have any suggestions on processing time-series text data? I haven't been able to find much help in this area since most examples only show time series numerical data. Specifically, do you have any ideas on how we can process sequences of text data for a patient?

E.g. A patient can have

[2022-03-24 05:37] philipperemy commented on #29
@chengyineng38 You need to consider embeddings. That's the first thing.

The second thing is: you can always concatenate all the notes for a given patient together.

And regress that to estimate the mortality risk. I guess that's the easiest you can do. And you don't even need a CondRNN for that. A simple LSTM + Embedding layer will work well.

[2022-04-10 23:38] #29 closed

[2022-04-15 18:31] aymoawad commented on #25
Thanks, @philipperemy. Can you please provide an example of `Bidirectional` with functional API usage instead of a sequential model?

[2022-04-16 01:19] philipperemy commented on #25
@aymoawad good question. I have just tried to port it with the functional API but somehow Keras does not make it very user friendly to do so. CondRNN expects inputs and conditions (a list) as input. When using the functional API, Keras takes the first input as the input for the Bidirectional layer and the second input is pushed to the initial state of the Bidirectional layer, which is pretty absur

[2022-04-16 01:21] philipperemy commented on #25
For info.

**Disclaimer: Does not work yet**
[code]

[2022-04-16 01:51] aymoawad commented on #25
@philipperemy yes, I discovered the same thing as well. Not sure what is the logic behind having the second input moved to the initial state. I ended up passing a tuple instead of a list and that seems to work.

[2022-04-16 01:59] aymoawad commented on #25
Btw, your example should work. It looks like your input layer does not have the right shapes though?

[2022-04-17 11:20] ichsan2895 opened #30 "[QUESTION] how to predicting future unseen dataframe?"
Hello, I have tried "lstm.py" example files.

In the example, the time start from 1995-01-01 until 2020-05-13.
Now, how to predict the unseen dataframe? Start from 2020-05-14 until desired time?

If I predict it with normal pure autoregressive GRU model. I was success. But, I dont know how to be predicting multivariate time series in the future? since I dont have any condition dataframe after 2020

[2022-05-11 07:04] philipperemy commented on #30
@ichsan2895 I see what you mean. I didn't write the "lstm.py" code but what I can tell you is if your model predicts one step at a time. You have to predict t+1 and use this prediction to predict t+2 and so on.

[2022-05-27 08:05] ichsan2895 commented on #30
Sorry for late reply. Do you have any reference and code about that?

[2022-05-27 08:25] philipperemy commented on #30
@ichsan2895 I think this link is a good beginning: https://machinelearningmastery.com/time-series-prediction-lstm-recurrent-neural-networks-python-keras/.

Familiarize yourself first with LSTM then you can easily swap the LSTM class with the TCN class.

Good luck.

[2022-05-27 08:25] #30 closed

[2022-05-27 08:25] philipperemy commented on #30
Note that it's from 2016 the link but most of it is still very relevant as of today.

[2022-07-22 14:09] fjpa121197 opened #31 "[QUESTION]"

[2022-07-22 14:09] #31 closed

[2022-07-22 14:45] fjpa121197 opened #32 "[QUESTION] Difference between ConditionalRNN and Other Approach"
Hi,

First of all, thanks for the package that allows to use time series data (time variant) with time invariant data (conditions). I think there are a lot of cases/scenarios where both types of data are needed to use at same time.

I'm having a similar situation, where I want to use both types of data, where I have my time series data and currently using a LSTM and I have my conditions (time inva

[2022-07-25 07:43] fjpa121197 commented on #32
![image](https://user-images.githubusercontent.com/43655840/180723906-fe88ab8d-c8f7-4c98-9bd9-23c8b144c5e2.png)

I think the above image tells me the difference.

Each condition has it's own input and processing before being concatenated and fed into the LSTM hidden state? If I only define 1 condition, which has multiple characteristics/features of my object (combination on one hot encoded variabl

[2022-07-27 10:35] philipperemy commented on #32
@fjpa121197 There's a discussion about your question here: https://github.com/philipperemy/cond_rnn/issues/3.

- Each condition has it's own input and processing before being concatenated and fed into the LSTM hidden state?

- If I only define 1 condition, which has multiple characteristics/features of my object (combination on one hot encoded variables and numerical variables), it will be differe

[2022-07-27 11:03] philipperemy commented on #32
Multi cond case. With the tensor shapes.

<img width="788" alt="image" src="https://user-images.githubusercontent.com/4516927/181231844-b51e8286-7510-45aa-9b41-8df77748e970.png">

[2022-07-27 11:09] philipperemy commented on #32
Single condition case.

<img width="452" alt="image" src="https://user-images.githubusercontent.com/4516927/181232844-0bea8506-319d-486f-90d2-e9ff35111ff7.png">

[2022-07-27 11:24] philipperemy commented on #32
In the example, if you merge c1.shape = (1,4) and c2.shape = (1,3) into c.shape = (1,7), the weight matrix will be W.shape = (7,50) and the bias will be bias.shape = (50,). So the only difference is the possibility to have different bias b1 and b2 in the multi condition case. In the single condition case, there's only one b. So I guess if the conditions are centered differently (for example one ha

[2022-07-27 11:25] philipperemy commented on #32
I hope all those points will answer your questions!

[2022-07-28 06:57] fjpa121197 commented on #32
Just one last question. In my first post, I showed a code snippet that initializes the hidden state with a condition.

This is a different one, but still follows the same approach (I think):

[code]

If I decide to treat all features as one condition, which has 263 features, will the following code be similar to your implementation?

Does your implementation touches/alters the cell state?

Thanks

[2022-07-29 07:21] philipperemy commented on #32
Yes your code is very similar to my implementation.

`initial_state[0]` points to `init_h` and `initial_state[1]` to `init_c`.
From: https://github.com/keras-team/keras/blob/master/keras/layers/rnn/lstm.py#L654
I guess you don't need to pass `tf.zeros_like(fc_features_layer1)` to `initial_state`. By default it should be filled with 0.

Does your implementation touches/alters the cell state?
It's n

[2022-07-29 08:36] fjpa121197 commented on #32
I will try not passing anything to the cell_state, I saw in one SO question that it was needed, even if it was all 0's.

Thanks for the help! I will stick to your implementation, I really like the idea of separating conditions, which I kind of see it, as a way to separate types of features (it can be based on domain knowledge, or data types).

[2022-07-29 08:36] #32 closed

[2022-07-29 12:45] philipperemy commented on #32
Awesome good luck in your journey!

[2022-10-31 13:54] JustDonuts opened #34 "ConditionalRNN or ConditionalRecurrent?"
I am trying to import the function but it is now called ConditionalRNN, but there is no mention of this on the README. If I only change that in the example code, I get an error:

[code]

`TypeError: '<' not supported between instances of 'LSTM' and 'int'`

Any idea on what is going on?

[2022-10-31 16:53] philipperemy commented on #34
@JustDonuts `ConditionalRecurrent`! It acts as a wrapper and not a layer anymore.

Try to upgrade to the latest version (2.4):

[code]

This code works fine for me:

[code]

[2022-10-31 16:58] Simo-JDev commented on #34
Thanks, I have tried it but it still says that `ConditionalRecurrent` cannot be imported. When I check the `cond_rnn.py` file, there is no `ConditionalRecurrent` defined, only `ConditionalRNN`, which does not work with the code example given.

[2022-10-31 17:04] Simo-JDev commented on #34
If it can be of any help, the code I have in the `cond_rnn.py` file in my environment is this:

[code]

[2022-11-01 02:21] philipperemy commented on #34
Ohh I see what's happening. Are you running on Mac? `pip` is trying to find a version compatible with `tensorflow>=2.3` but now it's called `tensorflow-macos` so it's fetching an older version. I'll fix that.

[2022-11-01 02:45] philipperemy commented on #34
Run this and try again:
[code]
I uploaded the version 3.1.1.

[2022-11-01 07:36] philipperemy commented on #34
Or run that, it should work as well:
[code]

[2022-11-11 02:38] ykocoglu opened #35 "Bidirectional Layer with Functional API"
Hi Philippe Remy,

I have been trying to run ConditionalRecurrent wrapper on the Bidirectional Layer with the Functional API to be able to stack layers with no success yet. It ran successfully for layers such as LSTM, GRU but, not Bidirectional. The code looks something like below:

[code]

The error I'm getting is:

---------------------------------------------------------------------------
Value

[2022-11-13 23:14] Simo-JDev commented on #34
Thanks so much, it's working now.

[2022-11-14 00:04] JustDonuts opened #36 "Basic conditional LSTM"
Hello,

I currently have a very basic LSTM NN, which predicts the next array of n_features, from the past 10 time steps, i.e.
[code]

where n_features is the number of features in each tilmestep and n_lookback is the number of previous time steps provided to the LSTM.
Since I am trying to also add conditions that are not time dependent, I thought I'd try your cond_RNN.
I am having some issues star

[2022-11-14 11:36] philipperemy commented on #34
@JustDonuts you're welcome!

[2022-11-14 11:36] #34 closed

[2022-11-14 11:49] philipperemy commented on #36
@JustDonuts Welcome 😊

The first input to the LSTM is the number of units and not the number of previous time steps. You can't give the number of previous steps as a parameter to the LSTM. The longer your sequence is, the more units you should add to your LSTM. You will see that most people choose 64, 128, 256, 512 and 1024. Check the LSTM Keras documentation to learn more about it.

Could you off

[2022-11-21 12:00] philipperemy commented on #36
@JustDonuts I'll close this thread for now. Feel free to re-open it if it was not clear enough. Thanks!

[2022-11-21 12:00] #36 closed

[2022-11-22 06:28] philipperemy commented on #35
@ykocoglu yes it's a known issue. Somebody has to update the lib to work with the functional API for Bidirectional

https://github.com/philipperemy/cond_rnn/blob/master/examples/bidirect.py

It will work nicely with the Sequential API.

[2022-11-22 06:28] philipperemy commented on #35
I guess it can work if you use the Sequential API. I haven't tried it myself for this case so that's a good question!

[2022-11-24 00:17] ykocoglu commented on #35
@philipperemy Thank you for your response. The only reason I was a little worried about it was the fact that I thought I won't be able to stack layers with the Sequential API but, based on some example scripts I found over the web, stacking layers with Sequential API should be possible right? I haven't tried it to confirm it yet myself (I will try it soon).

I'm just trying to understand where I m

[2022-11-24 00:59] philipperemy commented on #35
Yes it should be possible. Let me know how it goes!

Regarding the functional API, from what I remember, the issue comes from how the inputs are fed: https://github.com/philipperemy/cond_rnn/blob/master/cond_rnn/cond_rnn.py#L64.
We expect a list for the inputs instead of one single tensor.

So if there is any issue down the line, I guess it should be related to that one.

[2022-11-24 01:03] ykocoglu commented on #35
Thank you @philipperemy. I'm not sure how fast I can get to it but, as soon as I find out, I'll update you.

Thank you again.

[2022-11-29 13:47] alexandreib opened #37 "Embeding Layer with ConditionalRecurrent"
Hi,

First thanks for this great library, it's very usefull and inspiring.

I'm wondering, if using an embeding layer before the Conditionnal reccurent layers could have a limitation ?
I tried it and it was working.

I just want to make sure from your point of view if I don't miss anything.

Thanks,
Alexandre